@import '../../variables';

.RestaurantDetails {
  .info {
    margin: auto;
  }

  .imageHolder {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .descriptionHolder {
    margin-top: 20px ;
  }
}