@import "../../variables";
.StartPage {

  .logo_image {
    margin: auto;
  }

  .display-1{
    font-family: $logo-font;
    color: $primary;
    margin: auto;
  }

  .row {
    padding-top: 6%;
  }

  .loading {
    position:absolute;
    top: 45%;
    left: 50%;
  }
}