
$font-family-base: 'Comfortaa';
$primary: #1F93C6;
$secondary: whitesmoke;
$ternary: #d4ddda;
$background-color-blue: #e7f2f8;
$backround-card-color: rgba(31, 147, 198, 0.5);
$logo-font: 'Pacifico', sans-serif;
$card-border-radius: 0px;
$navbar-light-color:$primary;